.header{
display: flex;
background-image:url(images/banner-bk.jpg );
color:  #fff;
flex-direction: column;
padding: 0rem 5rem 3rem 5rem;
margin: 0rem;
width:100% ;

}
header > h6{
    text-align: right;
    margin: 4rem;

}
.button-header{
   
    width: 8rem;
    
    border-radius: 5px;
     border: none;
    background-color:rgb(0, 255, 179);
}
.smartes-conteiner{
    width:100% ;
    display: flex;
justify-content: center;
margin: 0;

}
.smart-protect{
    width:100% ;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.take-soon{
 position: relative;
align-items: right;
text-align: left;

}
.safe-soon{
    position: relative;
    align-items: right;
    text-align: left;
    padding: 2rem;
    width: 50%;
   
}
.safe-soon > button{
    width: 10rem;
    height: 2rem;
    color:antiquewhite;
   border-radius: 15px;
   background-color: rgb(22, 22, 22);

}
.take-soon > button{
    width: 10rem;
    height: 2rem;
    color:rgb(255, 255, 255);
   border-radius: 15px;
   background-color: rgb(22, 22, 22);
}

   

.safe-soon-img{


    width: 50%;
    height:50%;
    padding: 0rem;
    margin: 1rem;
}
.take-soon-img{

position: relative;
    width: auto;
    height: auto;

}


.take-container{
   width: auto;
   display: flex;
  justify-content: space-around;
margin: 0rem 12rem -10rem 0rem;
}
.safe-container{
width: 100%;
    display: flex;
    justify-content: space-around;
   margin: 10rem 5rem 0rem 0rem;
   padding: 0rem 0rem 0rem 0rem;;
   

}

.trapecio {
width: 90;
height: auto;
display: flex;
background-color: rgb(0, 255, 179);
clip-path: polygon(0 51%, 100% 0%, 100% 100%, 0% 100%);
flex-direction: column-reverse;
justify-content: space-around;
padding: 2rem;


}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.check-container{
    display: flex;
    text-align: center;
    justify-content: center;}
    
    .check-premiun > button{
        border-radius: 14px;
        background-color: rgb(0, 255, 179);
        height: 3rem;
        width: 8rem;
    }
    .check-profecional > button{
        border-radius: 14px;
        background-color: whitesmoke;
        height: 3rem;
        width: 8rem;
    }
    .check-startup > button{
        border-radius: 14px;
        background-color: whitesmoke;
        height: 3rem;
        width: 8rem;
    }
.check-startup{
    padding: 2rem;
    height:27rem ;
    width:20rem ;
    margin: 2rem;
 
}

.check-profecional{
    height:27rem ;
    width:20rem ;
    padding: 2rem;
    margin: 2rem;
 
}
.check-premiun{
    padding: 2rem;
    height:27rem ;
    width:20rem ;
    margin: 2rem;
    background: rgb(0, 15, 43);
    color:#fff;
}

.brands-container{
    display: flex;
    justify-content:  center;
    height: 100%;
    height: auto;
    background-color: rgb(216, 219, 255);
    padding: 2rem;
    margin:0 ;}

.brands-img{

    height: auto;   
    width: auto;
}
.contact-container{
display: flex;
background-image: url(images/contact-bk.jpg);
height:40rem ;
width: 100%;
padding: 10rem 0rem 0rem 0rem;
justify-items: center;
margin: 0rem;


}
.contact-text{
color: #fff;
width: 50%;
padding: 4rem;
}

.contact-from{

    width: 50%;
    height: 100%;
    text-align: left;
    padding: 4rem;


}
.contact-from1{
    
    display: flex;
    width: 100%;
    height: auto;
   


}
.contact-from2{
 
    width: 100%;
    height: auto;
}

label{
    color:rgb(0, 255, 179);
    height: 2rem;


}
.input-name{
    width: 50%;
    margin: 0rem 2rem 0rem 0rem;
}
.input-email{
    width: 50%;
    margin: 2rem;
    margin: 0rem 0rem 0rem 0rem;
}
.input-name > input{ 

    width: 100%;
    height: 2rem;
    border:solid;
    border-radius: 15px;
    border-color:rgb(0, 255, 179);
    background: none;
 
  
}
.input-email > input{
     width: 100%;
    height: 2rem;
    border:solid;
    border-radius: 15px;
    border-color:rgb(0, 255, 179);
    background: none;

}
.input-mesage{ 


}
.contact-from2 > input{
    width:100%;
    border:solid;
    border-radius: 15px;
    border-color:rgb(0, 255, 179);
    background: none;
    height: 4rem ;
    margin: 0rem 0rem 2rem 0rem;
}

.contact-button{
   
    width: 100%;
    height: 2rem;
    border-radius: 15px;
    background:rgb(0, 255, 179);
  

    }

body
{
width: 100%;
height:90%;
margin: 0rem;
}
span{
    font-size: 5rem;

}
h2{
    font-size: 2rem;
}

spam{
    font-size: 2rem;   
}
.footer {
    background-color:rgb(0, 15, 43);
    width: 100%;
    margin: 0rem;
}

body{
width: auto;
height: auto;
}