.header{
background-image:url(images/banner-bk.jpg);
width: 120rem;
height: 30rem;
color:  #fff;
}
.button-header{
    height: 4rem;
    width: 8rem;
    border-radius: 5px;
}
.smartes-conteiner{
    display: flex;
justify-content: center;

}
.smart-protect{
    justify-content: center;
    align-items: center;
    text-align: center;
padding: 2rem;
}