.header{
display: flex;
background-image:url(images/banner-bk.jpg );
color:  #fff;
flex-direction: column;
padding: 0rem 5rem 3rem 5rem;
}
header > h6{
    text-align: right;
    margin: 5rem;

}
.button-header{
   
    width: 8rem;
    
    border-radius: 5px;
  border: none;
    background-color:rgb(0, 255, 179);
}
.smartes-conteiner{
    display: flex;
justify-content: center;

}
.smart-protect{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.take-soon{
 position: relative;
align-items: right;
text-align: left;

}
.safe-soon{
    position: relative;
    align-items: right;
    text-align: left;
    padding: 2rem;
    width: 50%;
   
}
.safe-soon > button{
    width: 10rem;
    height: 2rem;
    color:antiquewhite;
   border-radius: 15px;
   background-color: rgb(22, 22, 22);

}
.take-soon > button{
    width: 10rem;
    height: 2rem;
    color:rgb(255, 255, 255);
   border-radius: 15px;
   background-color: rgb(22, 22, 22);
}

   

.safe-soon-img{


    width: 50%;
    height:50%;
    padding: 0rem;
}
.take-soon-img{

position: relative;
    width: auto;
    height: auto;

}


.take-container{
   width: auto;
   display: flex;
  justify-content: space-around;
margin: 0rem 12rem -10rem 12rem;
}
.safe-container{
width: 100%;
    display: flex;
    justify-content: space-around;
   margin: 10rem 5rem 0rem 10rem;
   padding: 0rem 0rem 0rem 0rem;;
   

}

.trapecio {
width: 100%;
height: auto;
display: flex;
background-color: rgb(0, 255, 179);
clip-path: polygon(0 51%, 100% 0%, 100% 100%, 0% 100%);
flex-direction: column-reverse;
justify-content: space-around;
padding: 2rem;
margin:  4rem 0rem 4rem 0rem;

}
*{
    font-family: Arial, Helvetica, sans-serif;
}